[submodule "cinemagoer"]
	path = cinemagoer
	url = https://github.com/cinemagoer/cinemagoer.git
[submodule "quantum-computing-for-database-query-languages"]
	path = quantum-computing-for-database-query-languages
	url = https://github.com/valterUo/quantum-computing-for-database-query-languages.git
