[submodule "cinemagoer"]
	path = cinemagoer
	url = https://github.com/cinemagoer/cinemagoer.git
[submodule "join-order-benchmark-queries"]
	path = join-order-benchmark-queries
	url = https://github.com/valterUo/join-order-benchmark.git
