covalent==0.220.0
discopy==0.5.1.2
discopy==0.4.1
jax==0.4.13
lambeq==0.3.1
lambeq==0.2.1
matplotlib==3.5.1
noisyopt==0.2.2
numpy==1.22.3
PennyLane==0.31.0
psycopg2_binary==2.9.6
qiskit==0.36.1
qiskit_aer==0.10.4
qiskit_ibmq_provider==0.19.1
qiskit_ignis==0.7.0
qiskit_terra==0.20.1
sympy==1.10.1